{% extends "themes/blog.html" %}

{% block title %}
Why Do I Blog?
{% endblock %}

{% block blogtitle %}
Why Do I Blog?
{% endblock %}

{% block blogdescription %}
I'm not an expert, but I want to share things that I have had the benefit of being exposed to
{% endblock %}

{% block blogauthordate %}Posted by <a href="#">Dudon Wai</a> on DATE{% endblock %}

{% block maincontent %}
    <p>The first paragraph is meant to hook the audience and also briefly explain what the topic of the post is.  </p>

    <h2 class="section-heading">A Concise Subtitle</h2>

    <p>These paragraphs are meant to elaborate on the subtitle topic.</p>

    <blockquote>Insert any quotes that you want to share, or links you might want to direct your audience</blockquote>

    <a href="#">
        <img class="img-responsive" src="img/post-sample-image.jpg" alt="">
    </a>
    <span class="caption text-muted">Caption for the picture can go here</span>

    <p>Close your post with a little blurb that ties in with the intro, and gives direction for where the audience can get more information</p>

    <p>[1] You should have a number of references that you can refer to here, to avoid too many tangents in the body of the text <a href="http://spaceipsum.com/">CLICK HERE</a></p>
{% endblock %}



