{% extends "themes/blog.html" %}

{% block title %}
GreyAdv Blog
{% endblock %}

{% block navigation %}
    <li>
        <a href="blog/index">Home</a>
    </li>                    
    <li>
        <a href="blog/about">About</a>
    </li>
    <li>
        <a href="blog/index/#services">How It Works</a>
    </li>
    <li>
        <a class="#page-top">Blog</a>
    </li>                    
    <li>
        <a href="blog/startproject">Start Your Project</a>
    </li>
{% endblock %}

{% block blogtitle %}
Welcome to the Blog!
{% endblock %}

{% block blogdescription %}
<!-- We've done the research so you don't have to -->
{% endblock %}

{% block maincontent %}
	<p>We've started writing weekly on topics that we think would interest SMBs. If you have any suggestions for what to cover, send us a message at <font color="blue"><a href="mailto:d@greyadv.com?Subject=Blog%20Topic" target="_top"></a>d@greyav.com</font>!</p>

<!-- Category 1 -->
    <h2 class="category1-heading">Tips for Small and Medium Sized Businesses</h2>
    <div class="col-md-6">
        &nbsp;
        <script async src="https://static.medium.com/embed.js"></script><a class="m-story" data-collapsed="true" href="https://medium.com/@dudonwai/8-reasons-you-need-a-website-642776e05f82">8 Reasons You Need A Website</a> 
    </div>
    <div class="col-md-6">
        &nbsp;
        <script async src="https://static.medium.com/embed.js"></script><a class="m-story" data-collapsed="true" href="https://medium.com/@dudonwai/no-marketing-budget-a6721010fb11#.845cr1g6v">No Marketing Budget?</a> 
    </div>
{% endblock %}

