{% extends "themes/blog.html" %}

{% block title %}
GreyAdv Blog
{% endblock %}

{% block navigation %}
    <li>
        <a href="blog/index">Home</a>
    </li>                    
    <li>
        <a href="blog/about">About</a>
    </li>
    <li>
        <a href="blog/index/#services">How It Works</a>
    </li>
    <li>
        <a class="#page-top">Blog</a>
    </li>                    
    <li>
        <a href="blog/startproject">Start Your Project</a>
    </li>
{% endblock %}

{% block blogtitle %}
Welcome to the Blog!
{% endblock %}

{% block blogdescription %}
<!-- We've done the research so you don't have to -->
{% endblock %}

{% block maincontent %}
    <h2 class="page-heading">Categories</h2>
	<p>Put a list of categories + blogs here</p>

<!-- Category 1 -->
    <h2 class="category1-heading">Category #1</h2>
    <div class="col-md-6">
        <script async src="https://static.medium.com/embed.js"></script><a class="m-story" data-collapsed="true" href="https://medium.com/@dudonwai/8-reasons-you-need-a-website-642776e05f82">8 Reasons You Need A Website</a> 
    </div>
    <div class="col-md-6">
        <script async src="https://static.medium.com/embed.js"></script><a class="m-story" data-collapsed="true" href="https://medium.com/@dudonwai/8-reasons-you-need-a-website-642776e05f82">8 Reasons You Need A Website</a> 
    </div>
    &nbsp;
    <hr>
<!-- Category 2 -->
    <h2 class="category2-heading">Category #2</h2>
    <div class="col-md-6">
        <script async src="https://static.medium.com/embed.js"></script><a class="m-story" data-collapsed="true" href="https://medium.com/@dudonwai/8-reasons-you-need-a-website-642776e05f82">8 Reasons You Need A Website</a> 
    </div>
    <div class="col-md-6">
        <script async src="https://static.medium.com/embed.js"></script><a class="m-story" data-collapsed="true" href="https://medium.com/@dudonwai/8-reasons-you-need-a-website-642776e05f82">8 Reasons You Need A Website</a> 
    </div>
    &nbsp;
    <hr>
{% endblock %}