{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

{% block head %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to Grey Advertising</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/clean-blog.min.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

{% endblock %}

<script src="//cdn.optimizely.com/js/3444620947.js"></script>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% static "index.html" %}">Grey Advertising</a>
            </div>

            {% block navigation %}
            <!-- Collect the nav links, forms, and other content for toggling -->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#page-top">Home</a>
                    </li>                    
                    <li>
                        <a href="{% static "about.html" %}">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">How It Works</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#blog">Blog</a>
                    </li>                    
                    <li>
                        <a href="{% static "about.html" %}">Start Your Project</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->

            {% endblock %}

        </div>
        <!-- /.container -->
    </nav>

    {% block header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('static/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <span><h2>Build Your Brand.</h2></span>
                        <span><h2>Grow Your Business.</h2></span>
                        <span><h2>START YOUR PROJECT</h2></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {% endblock %}


    {% block maincontent %}

<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How It Works</h2>
                    <h3 class="section-subheading text-muted">A simple process from idea to launch</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
<!--                     <img src= "{% static "img/python_flag.svg" %}"> -->
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">STEP 1</h4>
                    <h4 class="text-muted">Submit Your Website Project</h4>
                </div>
                <div class="col-md-4"> 
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">STEP 2</h4>
                    <h4 class="text-muted">Get A Budget Recommendation</h4>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">STEP 3</h4>
                    <h4 class="text-muted">Handpicked Team Contacts You</h4>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img src= "{% static "img/greyadv-logo.jpg" %}">
                    <h4 class="start-project-heading">START YOUR PROJECT</h4>
                </div>
            </div>
        </div>

    </section>
<hr>

<!-- Begin MailChimp Signup Form -->
<section id="signup">
    <div class="container"
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
                <style type="text/css">
                #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                </style>
                <div id="mc_embed_signup">
                    <form action="//herokuapp.us11.list-manage.com/subscribe/post?u=ec7811445c4a1fdfc533b910b&amp;id=e33720133e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <center>
                                <h1>GreyAdv Blog</h1>
                                <h2>Subscribe Today!</h2>
                            </center>
                            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                            <div class="mc-field-group">
                                <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                                </label>
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-FNAME">First Name   <span class="asterisk">*</span>
                                </label>
                                <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-LNAME">Last Name  <span class="asterisk">*</span>
                                </label>
                                <input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_ec7811445c4a1fdfc533b910b_e33720133e" tabindex="-1" value=""></div>
                            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                        </div>
                    </form>
                </div>
                <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

                </div>
            </div>
        </div>
    </section>
<!--End mc_embed_signup-->


<!-- Blog Section -->
<section id="blog">
    <div class="container">
        <div class="row"> 
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="blog/20150930-whyblog">
                        <h2 class="post-title">
                            Why Do I Need a Website?
                        </h2>
                        <h3 class="post-subtitle">
                            carricdesign.com
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="{% static "#" %}">Dudon Wai</a> on October 20, 2015</p>
                </div>
                <hr>

                <div class="post-preview">
                    <a href="blog/20150930-whyblog">
                        <h2 class="post-title">
                            19 Reasons Your Business Should Be Writing a Blog?
                        </h2>
                        <h3 class="post-subtitle">
                            www.sproutcontent.com/blog/19-Reasons-Why-Your-Business-Should-Be-Writing-a-Blog
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="{% static "#" %}">Dudon Wai</a> on November 15, 2015</p>
                </div>
                <hr>

                <div class="post-preview">
                    <a href="blog/20150930-whyblog">
                        <h2 class="post-title">
                            The Future of Marketing and Sales
                        </h2>
                        <h3 class="post-subtitle">
                            www.mckinsey.com/client_service/marketing_and_sales/latest_thinking/big_data_analytics_and_the_future_of_marketing_and_sales
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="{% static "#" %}">Dudon Wai</a> on December 18, 2015</p>
                </div>
                <hr>

                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="{% static "#" %}">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </section>
    <hr>

    {% endblock %}

    {% block footer %}

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
<!--                     <ul class="list-inline text-center">
                        <li>
                            <a href="https://twitter.com/DudonWai">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/dudon.wai">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/dudonwai">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul> -->
                    <p class="copyright text-muted">Copyright &copy; GreyAdv 2015</p>
                </div>
            </div>
        </div>
    </footer>

    {% endblock %}

    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static "js/clean-blog.min.js" %}"></script>

</body>

</html>
