{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

{% block head %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content>
    <meta name="google-site-verification" content="esvojgo191TTfEIyvBpiCkV86eGeu1ZIKQ8lwSrkp5I" />

    <title>Welcome to Grey Advertising</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/clean-blog.min.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-72900144-1', 'auto');
        ga('send', 'pageview');
    </script>

</head>

{% endblock %}

<script src="//cdn.optimizely.com/js/3444620947.js"></script>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">GreyAdv</a>
                <!-- <a class="navbar-brand" href="{% static "index.html" %}">Grey Advertising</a> -->
            </div>

            {% block navigation %}
            <!-- Collect the nav links, forms, and other content for toggling -->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#page-top">Home</a>
                    </li>                    
                    <li>
                        <a href="#page-top">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#howitworks">How It Works</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#blog">Blog</a>
                    </li>                    
                    <li>
                        <a href="https://greyadv.wufoo.com/forms/start-your-project-today/">Start Your Project</a>
                    </li>
  
                </ul>
            </div>
            <!-- /.navbar-collapse -->

            {% endblock %}

        </div>
        <!-- /.container -->
    </nav>

    {% block header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('static/img/light-red-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <div class="col-md-6">
                            <span><img 
                                class="img-circle"
                                src="{% static "img/greyadv-logo.jpg" %}" 
                                height="250" 
                                width="250">
                            </span>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <span><h2>Build Your Brand.</h2></span>
                                <span><h2>Grow Your Business.</h2></span>
                            </div>
                            <div class="row">
                                <a href="https://greyadv.wufoo.com/forms/start-your-project-today/"><button type="button" class="btn btn-danger">START YOUR PROJECT</button></a>
                                <span><h3>Or Call Us! <font color="grey">587-316-4053</font></h3></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <span>
                                    <h4 class="text-muted">GreyAdv offers responsive web design, SEO services, content marketing and social media marketing, in Calgary. We are a collective of accomplished marketing professionals that believe in a more personal level of service. Our core philosophy is one of cooperation and collaboration. Your business is managed by the same contact from start to end, and when you work with us you get exactly what's needed to create your marketing solution, with no extra stuff to pay for. We'll find the right mix for you. Better, stronger relationships deliver better, stronger results.</h4>
                                </span>
                        </div>
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </header>

    {% endblock %}


    {% block maincontent %}

<!-- Services Section -->
    <section id="howitworks">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How It Works</h2>
                    <h3 class="section-subheading text-muted">A simple process from idea to launch</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
<!--                     <img src= "{% static "img/python_flag.svg" %}"> -->
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-text-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">STEP 1</h4>
                    <h4 class="text-muted">Submit Your Website Project</h4>
                </div>
                <div class="col-md-4"> 
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">STEP 2</h4>
                    <h4 class="text-muted">Get A Budget Recommendation</h4>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">STEP 3</h4>
                    <h4 class="text-muted">Start Developing Your Website</h4>
                </div>
            </div>
        </div>

    </section>
    &nbsp;
    <hr>

<section class="intro-header" style="background-image: url('static/img/light-red-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="site-heading">
                        <span><h2>What Are You Waiting For?</h2></span>
                        <span><img 
                            class="img-circle"
                            src="{% static "img/greyadv-logo.jpg" %}" 
                            height="250" 
                            width="250">
                        </span>
                        <div class="col-lg-12 text-center">
                            &nbsp;
                            <div class="row">
                                <a href="https://greyadv.wufoo.com/forms/start-your-project-today/"><button type="button" class="btn btn-danger">START YOUR PROJECT</button></a>
                            </div>
                        </div>
                    </div>
                    &nbsp;
                </div>
                &nbsp;
            </div>
        </div>
</section>

<!-- Begin MailChimp Signup Form -->
<section id="signup">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
                <style type="text/css">
                #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                </style>
                <div id="mc_embed_signup">
                    <form action="//herokuapp.us11.list-manage.com/subscribe/post?u=ec7811445c4a1fdfc533b910b&amp;id=e33720133e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <center>
                                <h1>GreyAdv Blog</h1>
                                <h2>Subscribe Today!</h2>
                            </center>
                            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                            <div class="mc-field-group">
                                <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                                </label>
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-FNAME">First Name   <span class="asterisk">*</span>
                                </label>
                                <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-LNAME">Last Name  <span class="asterisk">*</span>
                                </label>
                                <input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_ec7811445c4a1fdfc533b910b_e33720133e" tabindex="-1" value=""></div>
                            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                        </div>
                    </form>
                </div>
                <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

                </div>
            </div>
        </div>
        &nbsp;
</section>
<!--End mc_embed_signup-->

<hr>
<!-- Blog Section -->

<section id="blog">
    <div class="container">
        <div class="row"> 
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Follow Us On Our Blog!</h2>
                <h3 class="section-subheading text-muted">Read Our Top 2 Articles and Find More <a href="blog"><font color="blue">HERE</font>!</a></h3>
                <span><h3>Next blog - Use <a href="https://askwonder.com/r/d1234"><font color="blue">Ask Wonder</font></a> to get free research within 24 hours!</h3></span>
            </div>
        </div>
        &nbsp;
        <div class="row"> 
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="col-md-6">
                    &nbsp;
                    <script async src="https://static.medium.com/embed.js"></script><a class="m-story" data-collapsed="true" href="https://medium.com/@dudonwai/8-reasons-you-need-a-website-642776e05f82">8 Reasons You Need A Website</a> 
                </div>
                <div class="col-md-6">
                    &nbsp;
                    <script async src="https://static.medium.com/embed.js"></script><a class="m-story" data-collapsed="true" href="https://medium.com/@dudonwai/no-marketing-budget-a6721010fb11#.845cr1g6v">No Marketing Budget?</a> 
                </div>
            </div>
        </div>
    </div>
</section>
 
    {% endblock %}

    {% block footer %}

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
<!--                     <ul class="list-inline text-center">
                        <li>
                            <a href="https://twitter.com/DudonWai">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/dudon.wai">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/dudonwai">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul> -->
                    <p class="copyright text-muted">Copyright &copy; GreyAdv 2016</p>
                </div>
            </div>
        </div>
    </footer>

    {% endblock %}

    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static "js/clean-blog.min.js" %}"></script>

</body>

</html>
