{% extends "themes/blog.html" %}

{% block title %}
GreyAdv Blog
{% endblock %}

{% block navigation %}
    <li>
        <a href="blog/index">Home</a>
    </li>                    
    <li>
        <a href="blog/about">About</a>
    </li>
    <li>
        <a href="blog/index/#services">How It Works</a>
    </li>
    <li>
        <a class="#page-top">Blog</a>
    </li>                    
    <li>
        <a href="blog/startproject">Start Your Project</a>
    </li>
{% endblock %}

{% block blogtitle %}
Portfolio
{% endblock %}

{% block blogdescription %}
<!-- We've done the research so you don't have to -->
{% endblock %}

{% block maincontent %}
    <h2 class="page-heading">Check Out Some Examples of Our Work!</h2>
	<p>Put a list of categories + blogs here</p>

{% endblock %}