{% extends "blog/index.html" %}
{% load bootstrap_pagination %}


            {% block navigation %}

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/templates/blog/index.html">Home</a>
                    </li>
                    <li>
                        <a href="/templates/blog/index.html">About</a>
                    </li>
                    <li>
                        <a href="/templates/blog/index.html">Recent Posts</a>
                    </li>
                    <li>
                        <a href="/templates/blog/index.html">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->

            {% endblock %}

{% block pagination %}
    {% bootstrap_paginate page_obj range=10 show_prev_next="false" show_first_last="true" %}
{% endblock %}
